Hello <%=name%>, please input your ISBN that you need validated

<form method = "post" action = "/isbn">
	<input type = "number" name = "isbn" autofocus>
	<input type = "text" name ="user_name" value = <%=name%> hidden>
	<input type = "submit">
</form>